<div id="server_settings">
<div class="row">
<div class="column small-12">Server URL</div>
</div>
<div class="row">
<div class="column small-12"><input type="text" id="server_url" /></div>
</div>
<div class="row">
<div class="column small-12">Server User</div>
</div>
<div class="row">
<div class="column small-12"><input type="text" id="server_user" /></div>
</div>
<div class="row">
<div class="column small-12">Server Password</div>
</div>
<div class="row">
<div class="column small-12"><input type="text" id="server_password" /></div>
</div>
<div class="row">
<div class="column small-12"><div class="button" id="connect" >Test Connection</div></div>
</div>

</div>